@media (max-width: 50em) {
  .nav {
    display: flex;
    flex-direction: row; } }

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Cinzel", serif; }

html {
  font-size: 62.5%;
  scroll-behavior: smooth; }

header {
  height: 100vh; }

.heading-secondary {
  font-size: 10rem; }

.section-header {
  max-width: 50%;
  color: #d0a624;
  gap: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 5rem;
  margin: 0 10rem;
  padding: 2rem; }
  .section-header-text {
    line-height: 1.5;
    text-align: center;
    font-size: 3rem;
    width: 80%; }

.discover-btn {
  color: #d0a624;
  background-color: #1f2c51;
  width: 15rem;
  height: 5rem;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.5s;
  border: none; }
  .discover-btn:hover {
    background-color: #12192d; }

.carousel-wrapper {
  min-height: 100%;
  position: relative;
  min-width: 100%;
  display: block;
  margin: 50px auto; }

.carousel-item {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 25px 50px;
  opacity: 0;
  transition: all 0.5s ease-in-out; }

.arrow {
  border: solid #d0a624;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 10px; }

.arrow-prev {
  left: 10px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%) rotate(135deg); }

.arrow-next {
  right: 10px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%) rotate(-45deg); }

[id^="item"] {
  display: none; }

.item-1,
.item-4,
.item-7 {
  z-index: 2;
  opacity: 1; }

.item-1 {
  background: url("../../assets/stay-1.jpg");
  background-size: cover;
  background-position: 100% 100%; }

.item-2 {
  background: url("../../assets/stay-2.jpg");
  background-size: cover; }

.item-3 {
  background: url("../../assets/stay-3.jpg");
  background-size: cover;
  background-position: 100% 100%; }

.item-4 {
  background: url("../../assets/dine-1.jpg");
  background-size: cover;
  background-position: 100% 100%; }

.item-5 {
  background: url("../../assets/dine-2.jpg");
  background-size: cover; }

.item-6 {
  background: url("../../assets/dine-3.jpg");
  background-size: cover;
  background-position: 100% 100%; }

.item-7 {
  background: url("../../assets/play-1.jpg");
  background-size: cover;
  background-position: 100% 100%; }

.item-8 {
  background: url("../../assets/play-2.jpg");
  background-size: cover;
  background-position: 100% 100%; }

.item-9 {
  background: url("../../assets/play-3.jpg");
  background-size: cover;
  background-position: 100% 100%; }

*:target ~ .item-1,
*:target ~ .item-4,
*:target ~ .item-7 {
  opacity: 0; }

#item-1:target ~ .item-1,
#item-4:target ~ .item-4,
#item-7:target ~ .item-7 {
  opacity: 1; }

#item-2:target ~ .item-2,
#item-3:target ~ .item-3,
#item-5:target ~ .item-5,
#item-6:target ~ .item-6,
#item-8:target ~ .item-8,
#item-9:target ~ .item-9 {
  z-index: 3;
  opacity: 1; }

.stay-form {
  font-size: 2.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem; }
  .stay-form-date {
    width: 100%;
    display: flex;
    gap: 1rem; }
  .stay-form-location {
    width: 100%;
    display: flex;
    gap: 2rem; }
  .stay-form-select {
    width: 23rem; }
  .stay-form-number {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    font-size: 3rem; }
  .stay-form-guest {
    display: flex;
    justify-content: space-between;
    width: 37rem; }

.guest-number {
  margin-left: 2rem; }

.guest-text {
  font-size: 2.5rem; }

.plus,
.plus2,
.plus3,
.minus,
.minus2,
.minus3 {
  cursor: pointer; }

.num,
.num2,
.num3 {
  margin: 0.5rem; }

.nav {
  font-size: 2.5rem;
  padding: 1rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  position: block;
  min-width: 100%;
  z-index: 4;
  transition: all 1s; }
  .nav-logo {
    height: 8rem;
    margin-bottom: 2rem;
    display: block; }
  .nav-links {
    color: #d0a624;
    display: flex;
    gap: 5rem;
    list-style: none;
    text-transform: uppercase; }
  .nav-link {
    cursor: pointer;
    text-decoration: none; }
    .nav-link:link, .nav-link:visited {
      color: #d0a624;
      text-decoration: none; }

.footer {
  padding: 2rem;
  background-color: #222;
  height: 55vh;
  display: flex;
  flex-direction: column;
  align-items: center; }
  .footer-logo {
    height: 7rem;
    margin-bottom: 2.5rem; }
  .footer-detail {
    padding: 2rem;
    width: 80%;
    color: #fff;
    border-top: 3px solid #d0a624;
    border-bottom: 3px solid #d0a624;
    display: flex;
    justify-content: space-between; }
    .footer-detail-stay {
      gap: 0.75rem;
      margin-bottom: 0; }
  .footer-contact {
    display: flex;
    justify-content: space-between; }
  .footer-socials {
    margin-top: 2rem;
    margin-left: 0.8rem;
    display: flex;
    gap: 2rem; }
  .footer-social-logo {
    height: 4rem; }
  .footer-branches {
    display: flex;
    margin-top: 2rem;
    gap: 10rem; }
    .footer-branches-logo {
      height: 7rem;
      filter: brightness(30%);
      cursor: pointer;
      transition: all 0.5s; }
      .footer-branches-logo:hover {
        transform: scale(1.1);
        filter: brightness(100%); }
  .footer-header {
    margin-top: 2rem;
    font-size: 2rem;
    text-transform: uppercase;
    margin-bottom: 1rem; }
    .footer-header-text {
      margin-left: 1rem;
      font-size: 1.25rem;
      margin-bottom: 0.5rem;
      color: #bbb; }
    .footer-header-contact {
      margin-left: 1rem;
      font-size: 1.5rem;
      transition: all 0.5s;
      text-decoration: none; }
      .footer-header-contact-logo {
        height: 2rem; }
      .footer-header-contact:link, .footer-header-contact:visited {
        color: #bbb; }
      .footer-header-contact:hover, .footer-header-contact:active {
        color: #fff; }
    .footer-header-link {
      display: block;
      margin-left: 1rem;
      margin-bottom: 0.5rem;
      font-size: 1.25rem;
      text-decoration: none;
      transition: all 0.5s; }
      .footer-header-link:link, .footer-header-link:visited {
        color: #bbb; }
      .footer-header-link:hover, .footer-header-link:active {
        color: #fff; }
    .footer-header-email {
      margin: 0;
      margin-left: 0.8rem;
      height: 3rem;
      display: flex;
      outline: none; }
      .footer-header-email-send {
        height: 4rem;
        width: 4rem;
        background-color: #1f2c51;
        border: none;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center; }
      .footer-header-email-input {
        border: 2px solid #1f2c51;
        width: 30rem;
        height: 4rem; }
      .footer-header-email-icon {
        height: 2rem;
        width: 2rem; }

.bg-video {
  position: absolute;
  height: 100%;
  width: 100%;
  object-fit: cover;
  z-index: -1; }
  .bg-video-content {
    height: 100vh;
    width: 100vw; }

.section-stay {
  margin: 10rem auto 10rem auto;
  background: url(../../assets/stay-cover-1.jpg) no-repeat center center scroll;
  background-size: cover;
  background-position: 100% 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 90vh; }
  .section-stay-container {
    background-color: #fff;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    max-width: 80%;
    min-height: 80%; }
  .section-stay-carousel {
    margin-right: 2rem;
    height: 50vh;
    width: 50vw;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22); }

.section-dine {
  margin: 10rem auto 10rem auto;
  background: url(../../assets/dine-cover-2.jpg) no-repeat center center scroll;
  background-size: cover;
  background-position: 100% 100%;
  display: flex;
  align-items: center;
  height: 90vh; }
  .section-dine-container {
    margin: 0;
    background-color: #fff;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    max-width: 90%;
    min-height: 80%; }
  .section-dine-carousel {
    margin-left: 2rem;
    height: 50vh;
    width: 50vw;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22); }

.section-play {
  margin: 10rem auto 10rem auto;
  background: url(../../assets/play-cover.jpg) no-repeat center center scroll;
  background-size: cover;
  background-position: 100% 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh; }
  .section-play-container {
    margin: 0;
    background-color: #fff;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    max-width: 70%;
    min-height: 80%; }
  .section-play-carousel {
    margin-left: 2rem;
    height: 50vh;
    width: 50vw;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22); }

.section-vip {
  height: 90vh;
  background: lightcyan; }
  .section-vip-cards {
    margin-top: auto;
    height: 60vh;
    display: flex;
    flex-direction: column;
    flex-basis: auto auto;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 100%; }
    .section-vip-cards-one, .section-vip-cards-two {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 20rem;
      height: 50%;
      min-width: 50%; }
  .section-vip-card {
    height: 50%;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22); }
