*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Cinzel", serif; }

html {
  font-size: 62.5%;
  scroll-behavior: smooth; }

header {
  height: 100vh; }

::-webkit-scrollbar {
  width: 12px; }

::-webkit-scrollbar-thumb {
  background: #d0a624;
  border-radius: 10px; }

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(3rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

.heading-secondary {
  font-size: 10rem; }

.section-header {
  max-width: 60rem;
  color: #d0a624;
  gap: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 5rem;
  margin: 0 10rem;
  padding: 2rem; }
  .section-header-title {
    line-height: 1.5;
    text-align: center;
    font-size: 3rem;
    width: 70%; }
  .section-header-text {
    font-size: 1.5rem;
    text-align: center;
    width: 60%;
    color: #a8861d; }

.discover-btn {
  font-size: 1.5rem;
  color: #d0a624;
  background-color: #1f2c51;
  width: 15rem;
  height: 5rem;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.5s;
  border: none; }
  .discover-btn:hover {
    background-color: #12192d; }

#burger-toggle {
  opacity: 0;
  position: fixed; }
  #burger-toggle:checked + .burger-btn > .burger-line {
    transform: rotate(45deg); }
  #burger-toggle:checked + .burger-btn > .burger-line::before {
    top: 0;
    transform: rotate(0deg); }
  #burger-toggle:checked + .burger-btn > .burger-line::after {
    top: 0;
    transform: rotate(90deg); }

.burger-btn {
  position: fixed;
  display: flex;
  background-color: #1f2c51;
  top: 20px;
  right: 20px;
  width: 50px;
  height: 50px;
  cursor: pointer;
  z-index: 10;
  border-radius: 30%;
  opacity: 0;
  transition: opacity 1s; }
  .burger-btn > span,
  .burger-btn > span::before,
  .burger-btn > span::after {
    display: block;
    position: absolute;
    top: 2.25rem;
    width: 100%;
    height: 4px;
    background-color: #d0a624;
    transition-duration: 1s; }
  .burger-btn > span::before {
    content: "";
    top: -8px; }
  .burger-btn > span::after {
    content: "";
    top: 8px; }

.section-vip {
  display: flex;
  justify-content: center;
  align-items: center; }
  .section-vip-cards {
    gap: 15rem;
    height: 50rem;
    width: 100rem;
    display: flex;
    align-items: center;
    justify-content: center; }
    .section-vip-cards-container {
      display: flex;
      flex-direction: column;
      justify-content: center; }
    .section-vip-cards-one, .section-vip-cards-two {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 30rem;
      gap: 10rem; }
  .section-vip-card {
    height: 20rem; }
    .section-vip-card-box {
      position: relative;
      transition: all 1s; }
      .section-vip-card-box:hover .section-vip-card-front {
        transform: rotateY(180deg); }
      .section-vip-card-box:hover .section-vip-card-back {
        transform: rotateY(0deg); }
      .section-vip-card-box:hover {
        transform: rotate(90deg); }
    .section-vip-card-front, .section-vip-card-back {
      height: 20rem;
      width: 35rem;
      perspective: 50rem;
      transition: all 1s;
      overflow: hidden;
      backface-visibility: hidden;
      box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
      border-radius: 1rem; }
    .section-vip-card-back {
      position: absolute;
      top: 0;
      left: 0;
      transform: rotateY(180deg); }

.carousel-wrapper {
  min-height: 100%;
  position: relative;
  min-width: 100%;
  display: block;
  margin: 50px auto; }

.carousel-item {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 25px 50px;
  opacity: 0;
  transition: all 0.5s ease-in-out; }

.arrow {
  border: solid #d0a624;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 10px; }

.arrow-prev {
  left: 10px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%) rotate(135deg); }

.arrow-next {
  right: 10px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%) rotate(-45deg); }

[id^="item"] {
  display: none; }

.item-1,
.item-4,
.item-7 {
  z-index: 2;
  opacity: 1; }

.item-1 {
  background: url("../../assets/stay-1.jpg");
  background-size: cover;
  background-position: 100% 100%; }

.item-2 {
  background: url("../../assets/stay-2.jpg");
  background-size: cover; }

.item-3 {
  background: url("../../assets/stay-3.jpg");
  background-size: cover;
  background-position: 100% 100%; }

.item-4 {
  background: url("../../assets/dine-1.jpg");
  background-size: cover;
  background-position: 100% 100%; }

.item-5 {
  background: url("../../assets/dine-2.jpg");
  background-size: cover; }

.item-6 {
  background: url("../../assets/dine-3.jpg");
  background-size: cover;
  background-position: 100% 100%; }

.item-7 {
  background: url("../../assets/play-1.jpg");
  background-size: cover;
  background-position: 100% 100%; }

.item-8 {
  background: url("../../assets/play-2.jpg");
  background-size: cover;
  background-position: 100% 100%; }

.item-9 {
  background: url("../../assets/play-3.jpg");
  background-size: cover;
  background-position: 100% 100%; }

*:target ~ .item-1,
*:target ~ .item-4,
*:target ~ .item-7 {
  opacity: 0; }

#item-1:target ~ .item-1,
#item-4:target ~ .item-4,
#item-7:target ~ .item-7 {
  opacity: 1; }

#item-2:target ~ .item-2,
#item-3:target ~ .item-3,
#item-5:target ~ .item-5,
#item-6:target ~ .item-6,
#item-8:target ~ .item-8,
#item-9:target ~ .item-9 {
  z-index: 3;
  opacity: 1; }

input::placeholder {
  font-size: 1.5rem; }

.stay-form {
  font-size: 2.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem; }
  .stay-form-date {
    width: 130rem;
    display: flex;
    justify-content: center;
    gap: 3.5rem; }
    .stay-form-date-input {
      height: 3rem;
      width: 12.5rem;
      font-size: 1.25rem; }
  .stay-form-location {
    width: 40rem;
    display: flex; }
  .stay-form-select {
    margin-left: auto;
    height: 3rem;
    width: 23rem;
    font-size: 1.25rem; }
  .stay-form-number {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    font-size: 3rem; }
  .stay-form-guest {
    display: flex;
    justify-content: space-between;
    width: 37rem; }

.guest-number {
  margin-left: 2rem; }

.guest-text {
  font-size: 2.5rem; }

.plus {
  cursor: pointer; }

.num {
  margin: 0.5rem; }

.vip-form {
  margin-bottom: 2rem;
  background-color: white;
  padding: 5rem;
  border-radius: 4rem;
  font-size: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  color: #d0a624;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22); }
  .vip-form-header {
    margin-bottom: 2rem;
    font-size: 5rem;
    color: #d0a624; }
  .vip-form-label {
    display: flex;
    height: 3rem;
    justify-content: space-between; }
    .vip-form-label-select {
      font-size: 1.25rem; }
    .vip-form-label-number {
      display: flex;
      height: 3rem; }
  .vip-form-input {
    margin-left: 5rem;
    width: 30rem;
    height: 3rem;
    font-size: 1.25rem; }
  .vip-form-agree {
    margin-left: 50%;
    transform: translateX(-50%);
    font-size: 1.5rem;
    width: 50rem; }
    .vip-form-agree-input {
      width: 2rem;
      height: 2rem; }
  .vip-form-button {
    display: flex;
    justify-content: center;
    align-items: center; }

.submit-button {
  margin-left: 50%;
  transform: translateX(-50%); }

.nav {
  font-size: 2.5rem;
  padding: 1rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  min-width: 100%;
  z-index: 1;
  position: absolute;
  transition: all 1s; }
  .nav-logo {
    height: 8rem;
    margin-bottom: 2rem;
    display: block; }
  .nav-links {
    color: #d0a624;
    display: flex;
    gap: 5rem;
    list-style: none;
    text-transform: uppercase; }
  .nav-link {
    position: relative;
    cursor: pointer;
    text-decoration: none; }
    .nav-link:link, .nav-link:visited {
      color: #d0a624;
      text-decoration: none; }
    .nav-link::before {
      content: "";
      position: absolute;
      display: block;
      width: 100%;
      height: 2px;
      bottom: 0;
      left: 0;
      background-color: #d0a624;
      transform: scaleX(0);
      transition: transform 0.3s ease; }
    .nav-link:hover::before {
      transform: scaleX(1); }

.nav-hidden-menu {
  position: fixed;
  right: 0;
  padding: 22rem;
  font-size: 5rem;
  background-color: #1f2c51;
  height: 100vh;
  width: 50vw;
  z-index: 5;
  transform: translateY(-150rem);
  opacity: 0;
  transition: transform 2s, opacity 3s; }
  .nav-hidden-menu-links {
    color: #d0a624;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 5rem;
    list-style: none;
    text-transform: uppercase; }
  .nav-hidden-menu-link {
    position: relative;
    cursor: pointer;
    text-decoration: none; }
    .nav-hidden-menu-link:link, .nav-hidden-menu-link:visited {
      color: #d0a624;
      text-decoration: none; }
    .nav-hidden-menu-link::before {
      content: "";
      position: absolute;
      display: block;
      width: 100%;
      height: 2px;
      bottom: 0;
      left: 0;
      background-color: #d0a624;
      transform: scaleX(0);
      transition: transform 0.3s ease; }
    .nav-hidden-menu-link:hover::before {
      transform: scaleX(1); }

.nav-hidden-image {
  background: url(../../assets/linkcover-home.jpg) no-repeat fixed center;
  background-size: cover;
  position: fixed;
  opacity: 0;
  left: 0;
  padding: 22rem;
  font-size: 5rem;
  background-color: #1f2c51;
  height: 100vh;
  width: 50vw;
  z-index: 5;
  transform: translateY(150rem);
  border-right: 10px solid #d0a624;
  transition: transform 2s, opacity 3s; }

.footer {
  padding: 2rem;
  background-color: #222;
  height: 58rem;
  display: flex;
  flex-direction: column;
  align-items: center; }
  .footer-logo {
    height: 7rem;
    margin-bottom: 2.5rem; }
  .footer-detail {
    padding: 2rem;
    width: 156rem;
    color: #fff;
    border-top: 3px solid #d0a624;
    border-bottom: 3px solid #d0a624;
    display: flex;
    justify-content: space-between; }
    .footer-detail-stay {
      gap: 0.75rem;
      margin-bottom: 0; }
  .footer-contact {
    display: flex;
    justify-content: space-between; }
  .footer-socials {
    margin-top: 2rem;
    margin-left: 0.8rem;
    display: flex;
    gap: 2rem; }
  .footer-social-logo {
    height: 4rem;
    transition: all 0.5s; }
    .footer-social-logo:hover {
      transform: scale(1.2); }
  .footer-branches {
    display: flex;
    margin-top: 2rem;
    gap: 10rem; }
    .footer-branches-logo {
      height: 7rem;
      filter: brightness(30%);
      cursor: pointer;
      transition: all 0.5s; }
      .footer-branches-logo:hover {
        transform: scale(1.1);
        filter: brightness(100%); }
  .footer-header {
    margin-top: 2rem;
    font-size: 2rem;
    text-transform: uppercase;
    margin-bottom: 1rem; }
    .footer-header-text {
      margin-left: 1rem;
      font-size: 1.25rem;
      margin-bottom: 0.5rem;
      color: #bbb; }
    .footer-header-contact {
      margin-left: 1rem;
      font-size: 1.5rem;
      transition: all 0.5s;
      text-decoration: none; }
      .footer-header-contact-logo {
        height: 2rem; }
      .footer-header-contact:link, .footer-header-contact:visited {
        color: #bbb; }
      .footer-header-contact:hover, .footer-header-contact:active {
        color: #fff; }
    .footer-header-link {
      display: block;
      margin-left: 1rem;
      margin-bottom: 0.5rem;
      font-size: 1.25rem;
      text-decoration: none;
      transition: all 0.5s; }
      .footer-header-link:link, .footer-header-link:visited {
        color: #bbb; }
      .footer-header-link:hover, .footer-header-link:active {
        color: #fff; }
    .footer-header-email {
      margin: 0;
      margin-left: 0.8rem;
      height: 3rem;
      display: flex;
      outline: none; }
      .footer-header-email-send {
        height: 4rem;
        width: 4rem;
        background-color: #1f2c51;
        border: none;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center; }
      .footer-header-email-input {
        border: 2px solid #1f2c51;
        width: 30rem;
        height: 4rem; }
      .footer-header-email-icon {
        height: 2rem;
        width: 2rem; }

.bg-video {
  position: absolute;
  height: 100%;
  width: 100%;
  object-fit: cover;
  z-index: -1; }
  .bg-video-content {
    height: 100vh;
    width: 100vw; }

.section-stay {
  margin: 10rem auto 10rem auto;
  background: url(../../assets/stay-cover-1.jpg) no-repeat center center scroll;
  background-size: cover;
  background-position: 100% 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 85rem; }
  .section-stay-container {
    background-color: #fff;
    display: none;
    justify-content: flex-start;
    align-items: center;
    width: 150rem;
    height: 70rem;
    animation: moveInLeft 2s ease forwards; }
  .section-stay-carousel {
    margin-right: 2rem;
    height: 50rem;
    width: 120rem;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22); }

.section-dine {
  margin: 10rem auto 10rem auto;
  background: url(../../assets/dine-cover-2.jpg) no-repeat center center scroll;
  background-size: cover;
  background-position: 100% 100%;
  display: flex;
  align-items: center;
  height: 85rem; }
  .section-dine-container {
    margin: 0;
    background-color: #fff;
    display: none;
    flex-direction: row-reverse;
    align-items: center;
    width: 150rem;
    height: 70rem; }
  .section-dine-carousel {
    margin-left: 2rem;
    height: 50rem;
    width: 120rem;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22); }

.section-play {
  margin: 10rem auto 10rem auto;
  background: url(../../assets/play-cover.jpg) no-repeat center center scroll;
  background-size: cover;
  background-position: 100% 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 85rem; }
  .section-play-container {
    margin: 0;
    background-color: #fff;
    display: none;
    flex-direction: row-reverse;
    align-items: center;
    width: 140rem;
    height: 70rem;
    animation: moveInBottom 2s ease forwards; }
  .section-play-carousel {
    margin-left: 2rem;
    height: 50rem;
    width: 120rem;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22); }

.section-vip {
  height: 100rem;
  background: url(../../assets/vip-cover.jpg) no-repeat center;
  background-size: cover; }

.hidden {
  display: none; }

.dine-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 150rem;
  height: 90rem;
  background: url(../../assets/dine-modal.jpg);
  background-size: cover;
  padding: 6rem;
  border-radius: 5px;
  box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);
  z-index: 10;
  animation: fadeIn 1s ease forwards; }
  .dine-modal-header {
    font-size: 4rem;
    text-align: center;
    margin-bottom: 4rem; }
  .dine-modal-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr); }
    .dine-modal-grid-content {
      margin: 2rem auto;
      display: flex;
      flex-direction: column;
      gap: 2rem;
      background-color: #fff;
      border: 2px solid #d0a624; }
      .dine-modal-grid-content-image {
        height: 20rem;
        width: auto; }
      .dine-modal-grid-content-text {
        text-align: center;
        font-size: 2rem;
        margin-bottom: 2rem; }

.play-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 150rem;
  height: 90rem;
  background: url(../../assets/play-modal.jpg);
  background-size: cover;
  padding: 6rem;
  border-radius: 5px;
  box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);
  z-index: 10;
  animation: fadeIn 1s ease forwards; }
  .play-modal-header {
    color: #d0a624;
    font-size: 4rem;
    text-align: center;
    margin-bottom: 4rem; }
  .play-modal-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr); }
    .play-modal-grid-content {
      margin: 2rem auto;
      display: flex;
      flex-direction: column;
      gap: 2rem;
      background-color: #fff;
      border: 2px solid #d0a624; }
      .play-modal-grid-content-image {
        height: 50rem;
        width: 40rem; }
      .play-modal-grid-content-text {
        color: #d0a624;
        text-align: center;
        font-size: 2rem;
        margin-bottom: 2rem; }

.overlay,
.overlay-2 {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(3px);
  z-index: 5; }

.dine-close-modal,
.play-close-modal {
  color: #d0a624;
  position: absolute;
  top: 0;
  right: 5rem;
  font-size: 5rem;
  cursor: pointer;
  border: none;
  background: transparent; }

.thank-body {
  background: url(../../assets/thank-cover.jpg);
  background-size: cover;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center; }

.thank-container {
  padding-bottom: 5rem;
  background-color: #1f2c51;
  background-size: cover;
  height: 50rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-top: 10px solid #d0a624;
  border-bottom: 10px solid #d0a624;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22); }

.image-header {
  height: 10rem; }

.thank-header,
.email-header {
  width: 50%;
  font-size: 6rem;
  color: #d0a624;
  text-align: center;
  text-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22); }

.thank-header {
  margin-top: 5rem; }

.home-button {
  margin-top: 2rem;
  height: 5rem;
  width: 15rem;
  background-color: #d0a624;
  color: #1f2c51;
  border: none;
  cursor: pointer;
  transition: all 0.5s; }
  .home-button:hover {
    transform: scale(1.1);
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22); }
  .home-button:active {
    transform: scale(1);
    box-shadow: none; }

.home-link {
  font-size: 2rem;
  text-decoration: none; }
  .home-link:link, .home-link:visited {
    color: #1f2c51; }

@media screen and (max-width: 112.5em) {
  html {
    font-size: 55%; } }

@media screen and (max-width: 87.5em) {
  html {
    font-size: 50%; }
  .burger-btn > span {
    top: 2.75rem; } }

@media screen and (max-width: 79.625em) {
  html {
    font-size: 45%; } }

@media screen and (max-width: 71.25em) {
  html {
    font-size: 40%; }
  .burger-btn > span {
    top: 3.5rem; } }

@media screen and (max-width: 63.75em) {
  html {
    font-size: 35%; }
  .burger-btn > span {
    top: 4rem; } }

@media screen and (max-width: 54.75em) {
  html {
    font-size: 30%; }
  .nav-hidden-menu {
    width: 100vw; }
  .nav-hidden-image {
    display: none; }
  .burger-btn > span {
    top: 4.5rem; }
  .nav-hidden-menu-links {
    align-items: center;
    gap: 10rem;
    font-size: 10rem; } }

@media screen and (max-width: 47.375em) {
  html {
    font-size: 25%; } }

@media screen and (max-width: 40em) {
  html {
    font-size: 20%; }
  .nav {
    font-size: 3.8rem; }
  .nav-logo {
    height: 12rem; }
  .burger-btn > span {
    top: 6.75rem; } }

@media screen and (max-width: 33em) {
  html {
    font-size: 15%; }
  .nav {
    font-size: 5rem; }
  .nav-logo {
    height: 15rem; }
  .burger-btn > span {
    top: 9rem; } }
