// COLOR
$color-white: #fff;
$color-black: #000;
$color-dark-gold: #a8861d;
$color-dark-blue: #12192d;
$slake-gold: #d0a624;
$slake-blue: #1f2c51;

// MARGINS
$margin-section: 10rem auto 10rem auto;

// SHADOW
$shadow-carousel: 0 14px 28px rgba(0, 0, 0, 0.25),
  0 10px 10px rgba(0, 0, 0, 0.22); ;
