.discover-btn {
  color: $slake-gold;
  background-color: $slake-blue;
  width: 15rem;
  height: 5rem;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.5s;
  border: none;

  &:hover {
    background-color: $color-dark-blue;
  }
}
