.section-vip {
  height: 90vh;
  &-cards {
    margin-top: auto;
    height: 60vh;
    display: flex;
    flex-direction: column;
    flex-basis: auto auto;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 100%;

    &-one,
    &-two {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 50%;
      gap: 20rem;
    }
  }

  &-card {
    height: 100%;
    box-shadow: $shadow-default;

    &-box {
      position: relative;
      height: 50%;
      transition: all 1s;

      &:hover .section-vip-card-front {
        transform: rotateY(180deg);
      }
      &:hover .section-vip-card-back {
        transform: rotateY(0deg);
      }

      &:hover {
        transform: rotate(90deg);
      }
    }

    &-front,
    &-back {
      height: 100%;
      width: 100%;
      perspective: 50rem;
      transition: all 1s;
      overflow: hidden;
      backface-visibility: hidden;
    }

    &-back {
      position: absolute;
      top: 0;
      left: 0;
      transform: rotateY(180deg);
    }
  }
}
