*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Cinzel", serif;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

header {
  height: 100vh;
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-thumb {
  background: $slake-gold;
  border-radius: 10px;
}
