.heading-secondary {
  font-size: 10rem;
}

.section-header {
  max-width: 50%;
  color: $slake-gold;
  gap: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &-text {
    line-height: 1.5;
    text-align: center;
    font-size: 3rem;
    width: 50%;
  }
}
