.bg-video {
  position: absolute;
  height: 100%;
  width: 100%;
  object-fit: cover;
  z-index: -1;

  &-content {
    height: 100vh;
    width: 100vw;
  }
}

.section-stay {
  margin: $margin-section;
  background: url(../../assets/stay-cover-1.jpg) no-repeat center center scroll;
  background-size: cover;
  background-position: 100% 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 90vh;

  &-container {
    background-color: $color-white;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    max-width: 80%;
    min-height: 80%;
  }

  &-carousel {
    margin-right: 2rem;
    height: 50vh;
    width: 50vw;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: $shadow-default;
  }
}

.section-dine {
  margin: $margin-section;
  background: url(../../assets/dine-cover-2.jpg) no-repeat center center scroll;
  background-size: cover;
  background-position: 100% 100%;
  display: flex;
  align-items: center;
  height: 90vh;

  &-container {
    margin: 0;
    background-color: $color-white;
    display: flex;

    flex-direction: row-reverse;
    align-items: center;
    max-width: 90%;
    min-height: 80%;
  }

  &-carousel {
    margin-left: 2rem;
    height: 50vh;
    width: 50vw;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: $shadow-default;
  }
}

.section-play {
  margin: $margin-section;
  background: url(../../assets/play-cover.jpg) no-repeat center center scroll;
  background-size: cover;
  background-position: 100% 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;

  &-container {
    margin: 0;
    background-color: $color-white;
    display: flex;

    flex-direction: row-reverse;
    align-items: center;
    max-width: 70%;
    min-height: 80%;
  }

  &-carousel {
    margin-left: 2rem;
    height: 50vh;
    width: 50vw;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: $shadow-default;
  }
}

.section-vip {
  height: 90vh;
  background: lightcyan;

  &-cards {
    margin-top: auto;
    height: 60vh;
    display: flex;
    flex-direction: column;
    flex-basis: auto auto;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    // gap: 5rem;
    height: 100%;

    &-one,
    &-two {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 20rem;
      height: 50%;
      min-width: 50%;
    }
  }

  &-card {
    height: 50%;
    box-shadow: $shadow-default;
  }
}
