.thank-body {
  background: url(../../assets/thank-cover.jpg);
  background-size: cover;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.thank-container {
  padding-bottom: 5rem;
  background-color: $slake-blue;
  background-size: cover;
  height: 50rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-top: 10px solid $slake-gold;
  border-bottom: 10px solid $slake-gold;
  box-shadow: $shadow-default;
}

.image-header {
  height: 10rem;
}

.thank-header,
.email-header {
  width: 50%;
  font-size: 6rem;
  color: $slake-gold;
  text-align: center;
  text-shadow: $shadow-default;
}

.thank-header {
  margin-top: 5rem;
}

.home-button {
  margin-top: 2rem;
  height: 5rem;
  width: 15rem;
  background-color: $slake-gold;
  color: $slake-blue;
  border: none;
  cursor: pointer;
  transition: all 0.5s;

  &:hover {
    transform: scale(1.1);
    box-shadow: $shadow-default;
  }
  &:active {
    transform: scale(1);
    box-shadow: none;
  }
}

.home-link {
  font-size: 2rem;
  text-decoration: none;

  &:link,
  &:visited {
    color: $slake-blue;
  }
}
