.nav {
  font-size: 2.5rem;
  padding-top: 3rem;
  position: sticky;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  &-logo {
    height: 5rem;
    margin-bottom: 2rem;
  }

  &-links {
    color: $slake-gold;
    display: flex;
    gap: 5rem;
    list-style: none;
    text-transform: uppercase;
  }

  &-link {
    cursor: pointer;
    text-decoration: none;

    &:link,
    &:visited {
      color: $slake-gold;
      text-decoration: none;
    }
  }
}
